<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{persona}} ! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion
                    <i class="fas fa-sing-out-alt"></i></a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <h3>Listado de novedades</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus"
                    aria-hidden="true"></i>Nuevo</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="text end">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a href="/admin/novedades/modificar/{{id}}" title="Editar" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-sm btn-secondary" href="/admin/novedades/eliminar/{{id}}"
                                title="Eliminar"><i class="fa fa-trash" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

    </div>